@import "base/reset";
@import "base/typo";
@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixins";
@import "layout/navigations";

/**$*$********************************************************************
*$*$                         ELEMENTOS - TAG                             *
*$*$**********************************************************************/
body {
    font-family: $font-principal;
    background-color: $fondoBody;
}

h1 {
    color: $colorH1;
}

h2 {
    color: $colorH2;
}

h3 {
    color: $colorH3;
}

p {
    line-height: 1.5;
    font-size: 17px;
    font-weight: 200;
}

.separador {
    width: 100%;
    margin-top: 30px;
}

/**$*$****************************************************
*$*$             BARRA NAVEGACION                        *
*$*$******************************************************/
.menuSecciones {
    letter-spacing: 1px;
}

.menuSecciones:hover {
    color: $colorMenuHover;
}

/**$*$********************************************************************
*$*$                         BODY INDEX                                  *
*$*$**********************************************************************/
.mainIndex {
    width: 100%;
    height: 900px;

    h1 {
        animation-duration: 1s;
        animation-name: izqDer;
    }

    h2 {
        animation-duration: 2s;
        animation-name: aparecer;
    }
}

$img:"";

//For para crear dinamicamente 4 clases con los mismo estilos 
@for $i from 1 to 5 {

    @if $i==1 {
        $img: $imgIndex1;
    }

    @else if $i==2 {
        $img: $imgIndex2;
    }

    @else if $i==3 {
        $img: $imgIndex3;
    }

    @else if $i==4 {
        $img: $imgIndex4;
    }

    .indexFoto#{$i} {
        @include fondoImagen($img, no-repeat, cover, center);
        min-height: $widthIndexFoto;
        position: relative;
        opacity: 0.8;
        background-attachment: fixed;
        vertical-align: top;
    }

    .indexFoto#{$i}__Texto1 {
        color: $colorTextoImgIndex;
        top: 30%;
        position: absolute;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 8px;
        text-shadow: 0 0 10px #000;
        font-family: 'Roboto',
            condensed,
            sans-serif;
        transition: all 2s;
    }

}

// Animacion del texto sobre la imagen
.shimmer {
    position: absolute;
    top: 40%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(to right,
            #ed8080 0%,
            #2a77d6 16%,
            #5eb524 32%,
            #eacd25 48%,
            #ed8080 64%,
            #2a77d6 80%,
            #5eb524 100%);

    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #222;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    animation: shimmer infinite 3s linear;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.interactividadH1 {
    animation-duration: 2s;
    animation-name: izqDer;
}

.interactividadH2 {
    animation-duration: 4s;
    animation-name: aparecer;
}

@keyframes izqDer {
    0% {
        opacity: 0;
        transform: translatex(-100%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/**$*$********************************************************************
*$*$                         SECCION NOSOTROS                            *
*$*$**********************************************************************/
#main1:hover {
    transform: scale(1.03, 1.03);
}

#main2 {
    background: $textoFounder;
}

.empleado:hover {
    transform: scale(1.03, 1.03);
}

/**$*$********************************************************************
*$*$                         SECCION GALERIA                             *
*$*$**********************************************************************/
.mainGaleria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    gap: 28px;
    margin: 20px 0px;
}

.box {
    width: 100%;
    height: auto;
    position: relative;

    a {
        margin: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
        }

    }
}

.overlay {
    background-color: $fondoOverlayGaleria;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.box a:hover .overlay {
    display: inline;
}

.box:hover {
    transform: scale(1.03, 1.03);
}

/**$*$********************************************************************
*$*$                         SECCION CONTACTO                            *
*$*$**********************************************************************/
.containerFormulario {
    width: 70%;
    @include fondoImagen($fondoContacto, no-repeat, cover, center);
    border-radius: 6px;
}

/*Creamos el bucle para usar los valores del mapa*/
@each $clase,
$ancho in $width {
    .#{$clase} {
        width: $ancho;
        height: auto;
    }
}

/**$*$********************************************************************
*$*$                         CUSTOM ICON HAMBURGUESA                     *
*$*$**********************************************************************/
.custom-toggler .navbar-toggler-icon {
    background-image: url($menuResponsive);
}

.custom-toggler.navbar-toggler {
    border-color: $colorMenuResponsive
}

/**$*$********************************************************************
*$*$                         WIDGET                                      *
*$*$**********************************************************************/
.whatsappWidget {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 40px;
    /* background-color: #25d366;
    color: #FFF;
    border-radius: 70px; */
}

.whatsappWidget p {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

/**$*$********************************************************************
*$*$                         MEDIA QUERYS                                *
*$*$**********************************************************************/

/*DISPOSITIVOS XL LARGOS*/
/* @media screen and (max-width: 1200px) {} */

/*NOTEBOOK + LAP + ESCRITORIO DISPOSITIVOS LARGOS*/
@media screen and (max-width: 992px) {
    .containerFormulario {
        width: 95%;
    }
}

/*TABLET LANDSCAPE UP DISPOSITIVOS MEDIOS*/
@media screen and (max-width: 768px) {

    .mainGaleria {
        grid-template-columns: repeat(2, minmax(350px, 760px));
    }

    #parrafo2Founder {
        display: none;
    }

    #imgFounder {
        width: 100%;
        height: 500px;
    }

}

/*TELEFONOS - DISPOSITIVOS XS*/
@media screen and (max-width: 600px) {

    .containerFormulario {
        width: 90%;
    }

}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS SMALLS*/
@media screen and (max-width: 599px) {

    .mainGaleria {
        grid-template-columns: repeat(1, minmax(100px, 599px));
    }

    #imgFounder {
        width: 90%;
    }

    .imgEmpleado {
        width: 80%;
    }

    #main1 {
        width: 90%;
    }

    #main2 {
        width: 85%;
    }

    #parrafo2Founder {
        display: none;
    }

    .logo__img--center {
        width: 80px;
    }

    .boxFormulario {
        width: 90%;
    }

    .containerFormulario {
        background: $fondoFormResponsive;
    }

    nav {
        @include fondoImagen($navFondoResponsive, no-repeat, cover, center);
    }

    .menuSecciones {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: 60px;
    }
}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS SMALLS*/
@media screen and (max-width: 370px) {

    #imgFounder {
        width: 95%;
    }

    #main1 {
        width: 95%;
    }

    #main2 {
        width: 90%;
    }

    .imgEmpleado {
        width: 90%;
    }
}