@import "base/reset";
@import "base/typo";
@import "utilities/variables";
@import "utilities/maps";
@import "utilities/mixins";
@import "layout/navigations";
@import "layout/parallaxIndex";

/**$*$********************************************************************
*$*$                         ELEMENTOS - TAG                             *
*$*$**********************************************************************/
body {
    font-family: $font-principal;
    background-color: $fondoBody;
}

h1 {
    color: $colorH1;
}

h2 {
    color: $colorH2;
}

h3 {
    color: $colorH3;
}

p {
    line-height: 1.5;
    font-size: $font-size-parrafo;
    font-weight: $font-weight-parrafo;
}

.separador {
    @include anchoAlto(100%, auto);
    margin-top: 30px;
}

/**$*$********************************************************************
*$*$             FOOTER                                                  *
*$*$*********************************************************************/
.letterSpacing {
    letter-spacing: 2px;
}

.textoFooter {
    line-height: 1.1;
    color: $colorTextoFooter;
}

.textoFooter:hover {
    color: $colorTextoHoverFooter;
}

.footerParallax {
    transform: scale(1.03);
}

/**$*$********************************************************************
*$*$                         BODY INDEX                                  *
*$*$**********************************************************************/
.mainIndex {
    @include anchoAlto(100%, 900px);
}

$img:"";

//For para crear dinamicamente 4 clases con los mismo estilos 
@for $i from 1 to 5 {

    @if $i==1 {
        $img: $imgIndex1;
    }

    @else if $i==2 {
        $img: $imgIndex2;
    }

    @else if $i==3 {
        $img: $imgIndex3;
    }

    @else if $i==4 {
        $img: $imgIndex4;
    }

    .indexFoto#{$i} {
        @include fondoImagen($img, no-repeat, cover, center);
        min-height: $widthIndexFoto;
        position: relative;
        opacity: 0.8;
        background-attachment: fixed;
        vertical-align: top;
        // Hace que la imagen se mueva al scrolear
        transform: scale(1.03);
    }

    .indexFoto#{$i}__Texto1 {
        color: $colorTextoImgIndex;
        top: 30%;
        position: absolute;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 8px;
        text-shadow: 0 0 10px #000;
        font-family: $font-secundario;
        transition: all 2s;
    }

}

// Animacion del texto sobre la imagen
.shimmer {
    position: absolute;
    top: 40%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(to right,
            #ed8080 0%,
            #2a77d6 16%,
            #5eb524 32%,
            #eacd25 48%,
            #ed8080 64%,
            #2a77d6 80%,
            #5eb524 100%);

    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #222;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    animation: shimmer infinite 3s linear;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.linkServicios {
    background-color: $colorLinkServicios;
    color: white;
}

.linkServicios:hover {
    background-color: #2a77d6;
    color: white;
}

/**$*$********************************************************************
*$*$                         SECCION NOSOTROS                            *
*$*$**********************************************************************/
#main1:hover {
    transform: scale(1.03, 1.03);
}

#main2 {
    background: $textoFounder;
}

.empleado:hover {
    transform: scale(1.03, 1.03);
}

/**$*$********************************************************************
*$*$                         SECCION GALERIA                             *
*$*$**********************************************************************/
.mainGaleria {
    @include anchoAlto(100%, auto);
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    gap: 28px;
    margin: 20px 0px;
}

.box {
    @include anchoAlto(100%, auto);
    position: relative;

    a {
        margin: 0;
        @include anchoAlto(100%, 100%);

        img {
            @include anchoAlto(100%, 100%);
            vertical-align: top;
        }

    }
}

.overlay {
    background-color: $fondoOverlayGaleria;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.box a:hover .overlay {
    display: inline;
}

.box:hover {
    transform: scale(1.03, 1.03);
}

/**$*$********************************************************************
*$*$                         SECCION CONTACTO                            *
*$*$**********************************************************************/
.containerFormulario {
    @include anchoAlto(70%, auto);
    @include fondoImagen($fondoContacto, no-repeat, cover, center);
    border-radius: 6px;
}

/*Creamos el bucle para usar los valores del mapa*/
@each $clase,
$ancho in $width {
    .#{$clase} {
        @include anchoAlto($ancho, auto);
    }
}

/**$*$********************************************************************
*$*$                         WIDGET                                      *
*$*$**********************************************************************/
.whatsappWidget {
    position: fixed;
    @include anchoAlto(60px, 60px);
    bottom: 40px;
    right: 40px;
    background-color: $fondoWhatsapp;
    color: $iconWhatsapp;
    border-radius: 40px;
    text-align: center;
    font-size: 37px;
    z-index: 100;
}

.whatsappWidget:hover {
    text-decoration: none;
    background-color: $fondoWhatsapp;
    color: $iconWhatsapp;
}

/**$*$********************************************************************
*$*$                         MEDIA QUERYS                                *
*$*$**********************************************************************/

/*DISPOSITIVOS XL LARGOS*/
/* @media screen and (max-width: 1200px) {} */

/*NOTEBOOK + LAP + ESCRITORIO DISPOSITIVOS LARGOS*/
@media screen and (max-width: 992px) {
    .containerFormulario {
        @include anchoAlto(95%, auto);
    }
}

/*TABLET LANDSCAPE UP DISPOSITIVOS MEDIOS*/
@media screen and (max-width: 768px) {

    .mainGaleria {
        grid-template-columns: repeat(2, minmax(350px, 760px));
    }

    #parrafo2Founder,
    #parrafo3Founder {
        display: none;
    }

    #imgFounder {
        @include anchoAlto(100%, 500px);
    }

}

/*TELEFONOS - DISPOSITIVOS XS*/
@media screen and (max-width: 600px) {

    .containerFormulario {
        @include anchoAlto(90%, auto);
    }

    #imgFounder {
        margin-left: 20px;
    }

    #parrafo2Founder,
    #parrafo3Founder {
        display: block;
    }

}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS SMALLS*/
@media screen and (max-width: 599px) {

    .mainGaleria {
        grid-template-columns: repeat(1, minmax(100px, 599px));
    }

    #imgFounder {
        @include anchoAlto(90%, auto);
    }

    .imgEmpleado {
        @include anchoAlto(80%, auto);
    }

    #main1 {
        @include anchoAlto(90%, auto);
    }

    #main2 {
        @include anchoAlto(85%, auto);

        h2 {
            text-align: center;
        }
    }

    .logo__img--center {
        @include anchoAlto(80px, auto);
    }

    .boxFormulario {
        @include anchoAlto(90%, auto);
    }

    .containerFormulario {
        background: $fondoFormResponsive;
    }

    .title {
        top: 50%;
    }

    .menuSecciones {
        font-weight: $font-weight-menu;
        font-size: $font-size-menu;
        letter-spacing: 1px;
        margin-left: 30px;
    }

    .menuSecciones:hover {
        background-color: none;
    }

    .whatsappWidget {
        @include anchoAlto(50px, 50px);
        bottom: 20px;
        right: 20px;
        font-size: 33px;
        z-index: 100;
    }
}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS SMALLS*/
@media screen and (max-width: 370px) {

    #imgFounder {
        @include anchoAlto(95%, auto);
    }

    #main1 {
        @include anchoAlto(95%, auto);
    }

    #main2 {
        @include anchoAlto(90%, auto);
    }

    .imgEmpleado {
        @include anchoAlto(90%, auto);
    }
}