@import "utilities/mixins";

/**$*$********************************************************************
*$*$             BARRA NAVEGACION                                        *
*$*$*********************************************************************/
.menuSecciones {
    letter-spacing: 2px;
}

.menuSecciones:hover {
    background-color: $colorMenuHover;
}

/**$*$********************************************************************
*$*$                         CUSTOM ICON HAMBURGUESA                     *
*$*$**********************************************************************/
.custom-toggler .navbar-toggler-icon {
    background-image: url($menuResponsive);
}

.custom-toggler.navbar-toggler {
    border-color: $colorMenuResponsive
}